.sidebar {
  width: 300px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.header {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
